body {
	background-color: gray;
	color: white;
	font-family: verdana;
}

div#caixa {
	background-color: black;
	width: 90%;
	padding: 20px;
	border: white 1px solid;
	margin: 0 auto;
}

h1, h2 {
	font-weight: normal;
}

p {
	font-size: 11pt;
	text-align: justify;
	text-indent: 50px;
	line-height: 18pt; 
}