body {
	font-family: verdana;
	background-image: url('fundo.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	background-attachment: fixed;
}

h1 {
	background-color: gray; 
	color: white;
}

p {
	color: white;
}